.App{
   background-color: rgba(255, 255, 0, 0.734);
   height: 100vh;
   overflow-y: hidden;
}
.heading{
    background-color: rgba(213, 212, 212, 0.415);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}